<!DOCTYPE html>
<html>
<head>
    <title>CivicBridge</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav>
        <a href="/">Home</a> |
        <a href="/report">Report Issue</a> |
        <a href="/issues">View Issues</a> |
        <a href="/about">About Us</a>
    </nav>

    <hr>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="flash-message">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>