{% extends "base.html" %}

{% block content %}

<h1>Reported Issues</h1>
{% if reports %}

    {% for report in reports %}

    <div class="issue-card">
        <h3>{{ report[3] }}</h3>

        <p><strong>Name:</strong> {{ report[1] }}</p>

        <p><strong>Location:</strong> {{ report[2] }}</p>

        <p><strong>Status:</strong> {{ report[5] }}</p>

        <p><strong>Description:</strong> {{ report[4] }}</p>

        <p><strong>ID:</strong> {{ report[0] }}</p>

        <a href="/delete/{{ report[0] }}">Delete</a>

    </div>

    {% endfor %}

{% else %}
    <p>No issues have been reported yet.</p>

{% endif %}    

{% endblock %}