{% extends "base.html" %}

{% block content %}

<h1>Reported Issues</h1>
<p>
    <a href="/issues">All</a>
    <a href="/issues?status=Pending">Pending</a>
    <a href="/issues?status=Resolved">Resolved</a>
</p>

<form method="get" action="/issues">
    <input type="text" name="search" placeholder="Search issues">
    <button type="submit">Search</button>
</form>

{% if reports %}

    {% for report in reports %}

    <div class="issue-card">
        <h3>{{ report[3] }}</h3>

        <p><strong>Name:</strong> {{ report[1] }}</p>

        <p><strong>Location:</strong> {{ report[2] }}</p>

        <p>
            <strong>Status:</strong>
            {{ report[5] if report[5] else "Pending" }}
        </p>

        <p><strong>Description:</strong> {{ report[4] }}</p>

        <p><strong>ID:</strong> {{ report[0] }}</p>

        {% if report[5]=="Pending" %}
            <a href="/resolve/{{ report[0] }}">Resolve</a>
            <a href="/edit/{{ report[0]}}">Edit</a>
        {% else %}
            <strong>Resolved ✅</strong>
        {% endif %}
              
        <a href="/delete/{{ report[0] }}">Delete</a>

    </div>

    {% endfor %}

{% else %}
    <p>No issues have been reported yet.</p>

{% endif %}    

{% endblock %}